.editable-cell {
  position: relative;
}

.editable-cell-value-wrap {
  padding: 5px 12px;
  cursor: pointer;
}

.non-editable-cell-value-wrap {
  padding: 5px 12px;
}

.editable-row:hover .editable-cell-value-wrap {
  padding: 4px 11px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
}

[data-theme='dark'] .editable-row:hover .editable-cell-value-wrap {
  border: 1px solid #434343;
}

.pending-background {
  background-color: #fac8c3;
}

.pending-background:hover td {
  background: #fab3ae !important;
}

.normal-background {
  background-color: unset;
}

.ant-menu-item-selected {
  background-color: transparent !important;
}

.ant-menu-item:hover {
  background-color: transparent !important;
}

.ant-menu-submenu-selected {
  background-color: transparent !important;
}
